# === Backend - Spring Boot ===
/backend/target/
/backend/.idea/
/backend/*.iml
/backend/*.log

# === Frontend - Vite React ===
/frontend/node_modules/
/frontend/dist/
/frontend/.vscode/
/frontend/.DS_Store

# === 공통 OS 파일 ===
.DS_Store
Thumbs.db

# === IntelliJ ===
.idea/
