html,
body,
#root {
  background-color: white;
}

.datepicker {
  border: 1px solid #dbdbdb !important;
  height: 28px;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

.wj-input-group {
  width: 180px !important;
  text-align: right !important;
  margin-right: 3px !important;
}

.custom-button {
  border-color: 1px solid #082665;
  color: #666;
  background: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0, 1, 1, 0.08);
  font-size: 13px;
  height: 28px;
  font-weight: 400;
  line-height: 1;
}

.custom-button:hover {
  border-color: #082665 !important; /* hover 시 더 밝은 파랑 */
  color: #082665 !important;
}

/* 헤더 배경 및 텍스트 색상 */
.wj-cell.wj-header {
  background-color: #f6f3f2; /* 연한 회색 */
  border: 1px solid #eee;
  color: #666; /* 진한 텍스트 */
  font-weight: bold;
  line-height: normal;
  white-space: pre;
  cursor: default;
  border-left-width: 1;
}

/* 일반 셀 텍스트 색상 */
.wj-cell {
  color: #666;
  border: 1px solid #eee;
  line-height: normal;
  font-size: 12px;
}

.wj-flexgrid .wj-colheaders .wj-header {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}

.wj-content {
  border: 1px solid #e4dcdd;
}

/* 선택된 행 배경 */
.wj-state-selected {
  background-color: #e5f6ff !important; /* 밝은 파랑 */
  color: #666 !important;
}

.wj-cells .wj-cell.wj-state-multi-selected {
  background-color: #e5f6ff !important; /* 밝은 파랑 */
  color: #666 !important;
}

.wj-flexgrid .wj-cell label input[type='checkbox'] {
  margin: 0 0 0 0;
  border: 1px solid #d9d9d9 !important;
}

/* 행 hover 시 배경 */
.wj-cell:hover {
  background-color: #fafafa;
}

.wj-cell.wj-group {
  background: white;
  color: #000;
}

.wj-cell.wj-alt {
  background: white;
}

.wj-listbox .wj-listbox-item {
  padding: 4px 6px 3px 6px;
  font-size: 14px;
  font-weight: 400;
}

.formWrap {
  height: 60px;
  margin: 2px;
  padding: 6px 10px;
  align-items: center;
  display: flex;
  background-color: #fcfafa;
  margin-bottom: 10px;
  border-bottom: 1px solid #e4dcdd;
  border-top: 1px solid #e4dcdd;
}

.formWrap span {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.65px;
  margin-right: 10px;
  margin-left: 10px;
}

.wj-calendar {
  max-width: 21em;
}

.wj-calendar .wj-header {
  color: white;
  background: #737680;
}

.wj-calendar .date-holiday:not(.wj-state-selected) {
  font-weight: bold;
  color: #1f8016;
  background: #f0fff0;
  outline: 2pt solid #1f8016;
}

.wj-calendar .date-weekend:not(.wj-state-selected) {
  background-color: #d8ffa6;
}

.blue-column {
  color: #007bff;
  cursor: pointer;
}

.wj-flexgrid .wj-header label {
  display: none;
}
.wj-flexgrid .checkBox {
  text-align: center;
}

.wj-flexgrid .checkBox .wj-elem-collapse {
  display: none;
}

.wj-flexgrid .checkBox input.wj-column-selector.wj-column-selector-group {
  margin: 0;
}

.wj-flexgrid .checkBox input.wj-column-selector.wj-column-selector-group {
  transform: none !important;
}

.wj-cell .v-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  white-space: pre-wrap;
}
